[Desktop Entry]
Name=BetterLockScreen configuration tool
Name[es]=Herramienta de configuración de BetterLockScreen
Comment=Manage lockscreen configuration
Comment[es]=Administrar configuración de la pantalla de bloqueo
Exec=betterlockscreen-gui
Icon=betterlockscreen
Terminal=false
Type=Application
Categories=GTK;GNOME;Utility;Settings;Security;X-GNOME-Settings-Panel;X-GNOME-SystemSettings;X-Unity-Settings-Panel;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
Keywords=tool;twm;color;
StartupNotify=true
